" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" 剪贴板和系统剪贴板共享
set clipboard+=unnamedplus

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
"" 设置空格键为 leader 键
let mapleader = " "

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)
"" <leader>e 开关任务栏
map <leader>e <Action>(ActivateProjectToolWindow)<CR>
"" <leader>q 关闭当前窗口
map <leader>q :action(IDEA.CloseContent)<CR>
"" <leader>h 切换到左窗口
map <leader>h :action(PreviousTab)<CR>
"" <leader>l 切换到右窗口
map <leader>l :action(NextTab)<CR>
"" shift esc 开关终端 
map <S-Esc> :action(ActivateTerminalToolWindow)<CR>

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
"
set scrolloff=10
set linenumber
set showmode
set showcmd
set visualbell

set ignorecase
set smartcase
set incsearch
set hlsearch

set nerdtree

set easymotion
set which-key
set notimeout

let g:WhichKeyDesc_display = "<leader>d Display options"

let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

let g:WhichKeyDesc_<identifier> = "<keybinding> <helptext>"

inoremap jk <Esc>
" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>
" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)
